<h1>Listing programmes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Date</th>
      <th>Location</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @programmes.each do |programme| %>
    <% if (programme.date >= Date.today) %>
      <tr>
        <td><%= programme.title %></td>
        <td><%= programme.description %></td>
        <td><%= programme.date %></td>
        <td><%= programme.location %></td>
        <td><%= link_to 'Show', programme %></td>
        <td><%= link_to 'Edit', edit_programme_path(programme) %></td>
        <td><%= link_to 'Destroy', programme, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
    
  </tbody>
</table>

<br>

<%= link_to 'New Programme', new_programme_path %>
