<nav id= "navlist">
  <button class ="showhide" ></button>
	<ul id ="nav">
    <li><%= link_to "Home", root_path , :class => "link2"%></li>
    <li><%= link_to "About The Club", about_path, :class => "link3" %></li>
		<li><%= link_to "Bookings", bookings_path, :class => "link4" %></li>
		<li><%= link_to "Club Matters", club_matters_path, :class => "link5" %></li>
		<li><%= link_to "How To Get There", how_to_get_there_path, :class => "link6" %></li>
		<li><%= link_to "How To Join", join_path, :class => "link7" %></li>
		<li><%= link_to "News Letters", newsletters_path, :class => "link8" %></li>
		<li><%= link_to "Programme", programmes_path, :class => "link9" %></li>
		<li><%= link_to "What You Need?", requirement_path, :class => "link10" %></li>
		<li><%= link_to "Links", links_path, :class => "link11" %></li>
	</ul>
</nav>